// colors
$yellow: #FCB223;
$gray: #8989AA;
$plate-dark: rgba(3, 3, 31, 0.6);
$plate-light: rgba(33, 33, 66, 0.6);
$super-dark: rgba(6, 6, 31, 1);
$error: #FF5454;

// sizes
$desktop-1920: 1920px;
$desktop-1680: 1680px;
$desktop-1440: 1440px;
$desktop-1200: 1200px;
$mobile: 430px;